.container{
    display: flex;
    justify-content: space-between;
    margin: 16px;
    height: 100vh;
}
.form-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form-container--wrapper{
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text-wrapper{
    margin: 16px 0;
}
.app-logo--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}
.form-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form-container--wrapper{
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text-wrapper{
    margin: 16px 0;
}
.app-logo--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    width: 50%;
}

.login_logo{
    width: 100%;
  }
.title{
    font-size: 36px;
    font-weight: 600;
    color: #0C1421;
    margin-bottom: 16px;
}
.description{
    font-size: 20px;
    font-weight: 400;
    color: #313957;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    position: relative;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
label{
    font-size: 16px;
    color: #0C1421;
    line-height: 16px;
    margin-bottom: 6px;
}
input{
    padding: 12px;
    border-radius: 16px;
    border-color: #00000066;
    font-size: 16px;
    font-weight: 400;
}
input::placeholder{
    font-size: 16px;
    font-weight: 400;
}
.reset-password {
    text-align: right;
    margin-top: 12px;
    color: #FC8A06;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
}
.btn{
    padding: 12px;
    border-radius: 16px;
    border: none;
    background-color: #FC8A06;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
    cursor: pointer;
}
.signUp-text{
    font-size: 18px;
    font-weight: 400;
}
.signUp-link{
    color: #FC8A06;
}

.app-logo{
    width: 100px;
}
.title{
    font-size: 36px;
    font-weight: 600;
    color: #0C1421;
    margin-bottom: 16px;
}
.description{
    font-size: 20px;
    font-weight: 400;
    color: #313957;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    position: relative;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
label{
    font-size: 16px;
    color: #0C1421;
    line-height: 16px;
    margin-bottom: 6px;
}
input{
    padding: 12px;
    border-radius: 16px;
    border-color: #00000066;
    font-size: 16px;
    font-weight: 400;
}
input::placeholder{
    font-size: 16px;
    font-weight: 400;
}
.reset-password {
    text-align: right;
    margin-top: 12px;
    color: #FC8A06;
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
}
.btn{
    padding: 12px;
    border-radius: 16px;
    border: none;
    background-color: #FC8A06;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 16px;
    cursor: pointer;
}
.signUp-text{
    font-size: 18px;
    font-weight: 400;
}
.signUp-link{
    color: #FC8A06;
}

.app-logo{
    width: 100px;
}