.top-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #0000001a;
  margin: 0 32px;
  border-radius: 0 16px;
  border-top: none;
  height: 64px;
}
.header-items {
  display: flex;
  align-items: center;
}
.logo {
  height: 25px;
  width: 25px;
}
.location-logo {
  margin-left: 130px;
}
.first {
  margin-left: 16px;
}
.header-text {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 500;
}
.span-text {
  color: #fc8a06;
  font-weight: 700;
}
.text-underline {
  text-decoration: underline;
}
.location-text {
  font-size: 14px;
  margin: 0 8px;
  font-weight: 500;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #028643;
  color: #fff;
  height: 64px;
  width: 170px;
}
.header-first {
  border-radius: 0 0 0 10px;
}
.header-second {
  width: 100px;
  border: 1px solid #fff;
  border-bottom: none;
  border-top: none;
}
.header-third {
  width: 60px;
  border-radius: 0 0 12px 0;
}
.cart-wrapper {
  display: flex;
  align-items: center;
  margin-right: 14px;
}
.cart-logo {
  width: 40px;
}
.cart-text {
  font-weight: 500;
  margin-left: 8px;
}

/* Navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 32px;
  height: 80px;
}
.nav-links {
  margin-left: 60px;
}
.nav-links--list {
  margin-left: 32px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 27;
}
.user-wrapper {
  display: flex;
  align-items: center;
  background-color: #03081f;
  color: #fff;
  height: 70px;
  width: 220px;
  border-radius: 100px;
  padding: 8px;
}
.nav-logo {
  width: 180px;
}
.profile-logo {
  width: 40px;
  margin-left: 12px;
}
.profile-text {
  margin-left: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27;
}

/* FIRST SECTION HOME */
.home-section--container {
  margin: 10px 32px;
  border: 1px solid #00000033;
  border-radius: 12px;
  position: relative;
  display: flex;
  height: 540px;
}


.section-text--wrapper {
  margin: 160px 0 0 48px;
}
.section-title {
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 54px;
}
.section-title--colored{
  color: #FC8A06;
  margin-bottom: 32px;
}
.section-text {
  font-size: 16px;
  font-weight: 400;
  color: #03081f;
  margin-bottom: 8px;
}
.input-label--text{
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #03081F;
}

.section-first--img {
  position: absolute;
  width: 640px;
  bottom: 0;
  right: 28%;
  z-index: 1;
}


.corner-border {
  width: 460px;
  height: 480px;
  background-color: #fc8a06;
  position: absolute;
  border-radius: 155px 0 0 0;
  right: 0;
  bottom: 0;
}
.section-second--img {
  width: 340px;
  border-radius: 16px;
  position: absolute;
  bottom: 0;
  right: 220px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.section-order--container{
  position: relative;
  z-index: 1;
  width: 278px;
}

.order-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.content-wrapper{
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  
}
.first-order{
  left: 80px;
  top: 72px;
}
.second-order{
  top: 205px;
  left: 160px;
}
.third-order{
  top: 360px;
  left: 126px;
}
.number-text{
  position: absolute;
  top: -58px;
  right: 24px;
  text-align: right;
  font-size: 54px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.corner-text{
  font-size: 12px;
  color: #000000CC;
}
.text-bold{
  font-weight: 600;
  color: #000;
}
.now-text{
  margin-right: 8px;
}
.tick-emoji{
  margin-left: 8px;
}
.section-corner--appLogo{
  width: 60px;
}

.section-input--wrapper{
  position: relative;
  margin-top: 12px;
  border: 1px ;
}
.section-input{
  width: 24vw;
  max-width: 320px;
  padding: 16px;
  border: 1px solid;
}

.submit-btn{
  padding: 16px;
  background-color: #FC8A06;
  color: #fff;
  border: none;
  max-width: 180px;
  width: 12vw;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  left:180px;
  cursor: pointer;
}


@media(max-width: 1200px) {
  .nav-links {
    justify-content: center;
    margin: 0;
  }

  .nav-links--list {
    margin: 8px;
    font-size: 14px;
    font-weight: 600;
  }
  .section-title{
    line-height: 48px;
  }
}
@media(max-width: 1080px) {
  .nav-links{
    display: none;
  }
  .section-title{
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 40px;
  }
  .section-text{
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
  }
}